h1{
    color: rgb(235, 11, 93);
}

h2{
    color: blue;
}

.main-container{
    background-color: rgb(50, 252, 100);
    width: 300px;
    justify-content: center;
    justify-items: center;
    height: 250px;
    align-items: center;
    border-radius: 20px;   
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

body{
    display: flex;
    background-color: rgb(246, 246, 238);
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    height: 90vh;
}

